.main_frame{
    text-align: center;
    height: 875px;
}

#sitetitle{
    text-align: center;
}

h1{
    text-align: left;
}

.slide{
    box-shadow:
    inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
    -8px 8px 5px hsla(0, 0%, 0%, 0.15),
    5px 18px 10px hsla(0, 0%, 0%, 0.2);
    width: 600px;
    height: 300px;
    text-align: justify;
    text-shadow:
    2px 1px 2px rgba(0, 0, 0, 1),
    0 2px 4px hsla(0, 0%, 0%, 1);
}

#arc1{
    background-image: url('/img/arc1.png');
}

#arc2{
    background-image: url('/img/arc2.jpg');
}

#arc3{
    background-image: url('/img/arc3.jpg');
}

#arc4{
    background-image: url('/img/arc4.png');
}

#arc5{
    background-image: url('/img/arc5.png');
}

#arc6{
    background-image: url('/img/arc6.png');
}

#arc7{
    background-image: url('/img/arc7.png');
}

#arc8{
    background-image: url('/img/arc8.png');
}

.slidetext{
    color: white;
    max-width: 94%;
    background-color: rgba(0, 0, 0, 0.4);
}

h2{
    text-align: center;
}

#trocar{
    background-color:rgb(32, 32, 32);
    color: rgba(210, 210, 210, 1);
    font-weight: bold;
    font-family: Arial;
    font-size: 60pt;
    outline: 0;
    width: 125%;
    text-align: center;
    border: none;
}

#trocar:hover{
    color: rgba(90, 90, 90);
}

#trocar:active{
    outline:0;
    border: none;
}

.contents{
    display: inline-block;
}