.main_frame {
    margin: auto;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
    height: 2250px;
    width: 1300px;
    background-color: rgb(32, 32, 32);
    position: relative;
    text-align: left;
}

#newstext{
    text-align: justify;
    max-width: 96%;
}

.newsdate{
    font-weight: normal;
    font-size: small;
    color: rgb(130, 130, 130);
}