.main_frame{
    text-align: center;
    height: 875px;
}

#sitetitle{
    text-align: center;
}

h1{
    text-align: left;
}

.slideimagens{
    width: 275px;
    height: 425px;
}

td{
    max-width: 900px;
    text-overflow: ellipsis;
}

#trocar{
    background-color:rgb(32, 32, 32);
    color: rgba(210, 210, 210, 1);
    font-weight: bold;
    font-family: Arial;
    font-size: 60pt;
    outline: 0;
    width: 125%;
    text-align: center;
    border: none;
}

#trocar:hover{
    color: rgba(90, 90, 90);
}

#trocar:active{
    outline:0;
    border: none;
}

.contents{
    display: inline-block;
}