.main_frame {
    margin: auto;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, .5);
    height: 700px;
    width: 1300px;
    background-color: rgb(32, 32, 32);
    position: relative;
    text-align: center;
}

p{
    text-align: justify;
    padding-right: 20px;
    
}

#conttitle{
    color: white;
    text-align: left;
}

.contents{
    display: inline-block;
    max-width: 1250px;
    text-overflow: ellipsis;
}

#chars{
    text-align: center;
}

footer p{
    text-align: center;
}